@import "./common.css";
@import "./header.css";
@import "./hero.css";
@import "./features.css";
@import "./team.css";
@import "./portfolio.css";
@import "./footer.css";

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aquamarine;
}
